#gd-pre-footer { overflow:hidden; clear:both; margin-top:35px; margin-bottom:10px; padding-bottom:0; }
#gd-pre-footer .col-item { padding:15px 25px; text-align:center; list-style:none; }
#gd-pre-footer ul { padding-left:0 !important; }
#gd-pre-footer center { background:#FFFFFF; }
@media screen and (min-width: 768px) {
#gd-pre-footer .col-item {
width:25%;
text-align:center;
float:left;
padding:5px 15px;
}
}

div#gd-pre-footer {
    background: #edae81;
  overflow:hidden;
}
.left-txt h1{
  color: #b5df41;
}


.product_images .main_images .slick-dots {
   display: none !important;
}
.thumb_images .prd_img .slick-current{border:2px solid #000;}


.thumb_images .prd_img{padding: 8px;margin:10px; border:2px solid transparent;}

.product_images img {
    width: 100%;
}

.colour{
  background: #e6d1d1;
}

  
.bundles{
  background: #efded6;
}
 .main-banner{
  margin-top: 30px;
  }
.banner{
  background: #cebbc1; 
  }
.container {
  max-width: 1290px;
  margin: auto;
  padding: 36px 0;
  padding-right: 50px;
}
.parent{
display:flex;
 align-items: center; 
}
.left-txt {
     width: 40%;
    color: #000;
   padding-left: 120px;
   padding-top: 50px;
}
  .line{
    border-left: 2px solid #000;
    padding-left: 30px;
  }
  
.left-txt h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: none;
    }
.right-img img {
    width: 100%;
    min-height: 350px;
}
.right-img {
    width: 60%;
}

.left-txt h2 {
    text-transform: uppercase;
}
.left-txt p {
    width: 270px;
}
p.link1 {
   background: #af2246;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #af2246;
    border-radius: 10px;
    font-size: 18px;
    width: 27%;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.left-txt a{
    text-decoration: none;
}
  
.fa{
padding: 0 5px;
font-size: 20px;
}

h2.footer-block__heading {
    text-align: left;
}
ul.footer__list-social.list-unstyled.list-social {
    float: left;
    padding: 0;
}
.footer__column.footer__localization.isolate {
    display: block;
}
.footer__column.footer__column--info {
    width: 40%;
}
.footer-block__details-content.rte{
width:72%;
}
.checked {
  color: #d6b11f;
	font-size: 34px;
}
.rich-text__text.rte {
    text-align: center;
    color: #7e7b7b;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.2;
}
.author-man{
  	float: right;
    color: #7e7b7b;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.2;
}
.why-do{
 	background: #eaeced;
  	position:relative;
    
}
.why-do-txt h2{
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 20px;
}
.sp2{
    font-family: 'Dancing Script';
  font-size: 50px;
}
.sp3{
  top: 150%;
  position: absolute;
  letter-spacing: 4px;
  left: 0;
  right: 0;
  text-align: center;
    color: #7e7b7b;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 4px;
  
}
@media screen and (max-width: 1024px) {
  .parent{
  align-items: center;
  }
  .left-txt h1{
  font-size: 38px;
  }
  .left-txt{
  padding-left: 85px;
  }
  p.link1{
  width: 32%;
  }
} 
  @media screen and (max-width: 768px) {
  .parent {
    display: block;
}
   .left-txt{
  width: 100%;
   
  }
  .right-img{
   width: 100%;
  }
   p.link1{
  width: 16%;
  }
  }
  
  
 @media screen and (max-width: 360px) {
  .parent {
    display: block;
}
 	.left-txt{
  width: 100%;
  padding:0;
  }
  .right-img{
   width: 100%;
  }
   .right-img img{
     max-width: 100%;
    min-height: auto;
    vertical-align: middle;
    display: inline-block;
}
   p.link1{
  width: 32%;
  }
   
}
@media screen and (max-width: 991px){
p.link1 {
    width: 47%;
}
}

.card__badge .badge{
    border-radius: 0;
    font-size: 13px;
    background-color: red;
    font-weight: bold;
    border: none;
  }
  
  .price .price__badge-sale {
    border-radius: 0;
    font-size: 13px;
    background-color: red;
    font-weight: bold;
    border: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }


